* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
  
body {
    font-family: 'Montserrat', sans-serif;
}
  
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 735px;
    background-image: url(./img/main/mainbgi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    height: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #ffffffcc;
}

.header__input {
    width: 288px;
    height: 41px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background: transparent;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 32px;
    padding-right: 32px;
    transition: all 0.3s;
}

.header__input:hover {
    box-shadow: #FFFFFF 2px 1px 5px;
}

.header__input::placeholder {
    color: #FFFFFF;
}

.header__menu {
    display: flex;
    gap: 32px;
}

.header__breadcrumbs {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    transition: all 0.3s;
}

.header__breadcrumbs:hover {
    text-decoration: inherit;
    text-decoration: underline;
    transform: scale(1.02);
}

/* main_page */

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
    max-width: 792px;
    color: #FFFFFF;
}
  
.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    color: #FFFFFF;
}
  
.catalog {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
  
.catalog:hover {
    text-decoration: inherit;
    text-decoration: underline;
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    text-shadow: 0 0 5px #ccc;
}

.for__box__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.for__box {
    padding-top: 64px;
}

.for {
    margin-top: 64px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.for_item {
    height: 415px;
    grid-column: span 4;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    padding: 16px;
    box-sizing: border-box;
  }
  
.for_item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #ccc;
}
  
.for_item_big {
    grid-column: span 6;
}

.for_item_1 {
    background-image: url(./img/main/for_1.jpg);
}

.for_item_2 {
    background-image: url(./img/main/for_2.jpg);
}

.for_item_3 {
    background-image: url(./img/main/for_3.jpg);
}

.for_item_4 {
    background-image: url(./img/main/for_4.jpg);
}

.for_item_5 {
    background-image: url(./img/main/for_5.jpg);
}

.product__box__title{
    padding: 64px 0 32px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.product_content {
    display: flex;
    column-gap: 32px;
    row-gap: 56px;
    flex-wrap: wrap;
}
  
.product {
    width: 378px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
}
  
.product_icons {
    position: absolute;
    right: 20px;
    top: 24px;
    width: 72px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon_hover:hover {
    transform: scale(1.05);
  }
  
.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #ccc;
}
  
.box__price {
    display: flex;
    gap: 32px;
}
  
.item {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 8px;
    margin-top: 10px;
}
  
.item:hover {
    text-decoration: inherit;
    text-decoration: underline;
}
  
.desc {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}
  
.price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}
  
.price2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: line-through;
    color: #888888;
}

.catalog_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 64px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.catalog_link:hover {
    text-decoration: inherit;
    text-decoration: underline;
    transform: scale(1.05);
}

/* catalog */

.top_catalog {
    height: 400px;
    background-image: url(./img/catalog/catalog_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.catalog_title {
    margin-top: 127px;
}

.catalog_nav {
    padding-top: 64px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.breadcrumbs_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    transition: all 0.3s;
}
  
.breadcrumbs_link:hover span {
    text-decoration: underline;
    transform: scale(1.5);
    text-shadow: 0 0 0.5px #050505;
}
  
.breadcrumbs_link:not(:last-child)::after {
    content: "/";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}

.select {
    position: relative;
    width: 288px;
}
  
.select select {
    display: block;
    width: 100%;
    height: 41px;
    padding-left: 14px;
    padding-right: 22px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    appearance: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    border-radius: 20px;
}
  
.select:after {
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
    background-image: url(./img/catalog/select.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 11px;
}

/* footer */

.footer {
    background-color: #F7F6F6;
    padding-top: 32px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 216px;
}
  
.footer__logo {
    transition: all 0.3s;
}
  
.footer__logo:hover {
    transform: scale(1.05);
}
  
.footer_items {
    gap: 129px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.footer_text {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
  
.footer_menu_item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
    transition: all 0.3s;
}
  
.footer_menu_item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #ccc;
    color: #000;
}
  
.footer__menu {
    flex-direction: column;
    display: flex;
    gap: 12px;
}
  
.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}
  
.footer_icon {
    transition: all 0.3s;
}
  
.footer_icon:hover {
    transform: scale(1.07);
}

.footer_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
  
.footer_news {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 4px;
}
  
.footer_input {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #c4c4c4;
    margin-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    transition: all 0.3s;
}
  
.footer_input:hover {
    border: 1px solid #888888;
}
  
.footer_input::placeholder {
    color: #c4c4c4;
}
  
.footer_button {
    background: #c9c2c269;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    transition: all 0.3s;
}
  
.footer_button:hover {
    background-color: #000;
    color: #ffffff;
}